body {
  font-family: sans-serif;
  background-color: #eceff1
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.nav-wrapper {
  background-color: #37474f
}
form div {
  margin: 1em;
  display: inline-block;
}
